@import '../../sass/main.scss';

.productpage {
  width: 100%;
  margin-top: 6vh;
  position: relative;
  overflow-x: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    & > * {
      width: 100%;
      margin-top: -0.5rem;

      @include respond(big-desktop) {
        margin-top: -10rem;
      }
      @include respond(tab-port) {
        width: 135%;
        margin-top: -0.5rem;
      }
      @include respond(phone) {
        width: 150%;
        background-color: $color-primary;
        height: 80rem;
      }
    }
  }

  &__select {
    height: 65vh;
    @include respond(tab-port) {
      height: 55rem;
    }
    @include respond(phone) {
      height: 80rem;
    }
  }

  &__list {
    padding: 0 10rem;
    padding-bottom: 5rem;
    @include respond(phone) {
      padding: 0 2rem;
      padding-bottom: 5rem;
    }
  }

  &__footer {
    margin-top: 5rem;
  }
}
