@import '../../sass/main.scss';

.productpage {
  width: 100%;
  margin-top: 6vh;
  position: relative;
  overflow-x: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    & > * {
      width: 100%;
      @include respond(phone) {
        width: 150%;
      }
    }
  }

  &__select {
    height: 65vh;
  }

  &__list {
    padding: 0 10rem;
    padding-bottom: 5rem;
  }
}
