@import '../../sass/main.scss';

.productpage {
  width: 100%;
  margin-top: 6vh;
  position: relative;
  overflow-x: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    & > * {
      width: 100%;
      @include respond(phone) {
        width: 150%;
      }
    }
  }

  &__select {
    height: 65vh;
  }

  &__list {
    height: 60vh;
    padding: 0 10rem;
  }
}

.product-list {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > h1 {
    position: relative;
    font-size: 3.5rem;
    color: $color-secondary;
  }
  &--line {
    width: 30rem;
    height: 1.5rem;
    background-color: $color-primary;
    position: absolute;
    bottom: 1rem;
    z-index: -1;
    left: -1rem;
  }
}
