//* COLOR

$color-primary: #f7d022;
$color-secondary: #240058;
$color-black: #292933;
$color-white: #ffffff;

$color-grey-light-0: #f4f4f4;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #2f2e41;

// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;
$font-display: 'Raleway', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
