@import '../../sass/main.scss';

.product-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary;
  padding: 3rem 10rem;

  & > h1 {
    font-size: 3.5rem;
    font-family: $font-display;
  }
}

.carousel {
  &__item {
    background-color: $color-white;
    padding-bottom: 2rem;
    width: 28rem;

    border-radius: 20px;

    &--image {
      width: 100%;

      & > img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
      }
    }

    &--content {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;

      & > h3 {
        font-size: 2.5rem;
        line-height: 1;
        margin: 0.5rem 0;
      }

      & > button {
        margin-top: 1rem;
        align-self: center;
        padding: 0.7rem 4rem;
      }
    }

    &--desc {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-column-gap: 0.7rem;
      font-size: 1.5rem;
      align-items: center;

      & > i {
        justify-self: center;
      }
    }
  }
}
