@import '../../sass/main.scss';

.product-overview {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey-light-1;
  padding: 5rem 10rem;

  @include respond(big-desktop) {
    padding: 5 20rem;
  }
  &__title {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 3rem;
    align-items: center;

    & > h1 {
      font-size: 5rem;
      font-weight: bold;
      color: $color-secondary;
      font-family: $font-display;
      line-height: 1;
    }

    & > div {
      height: 1rem;
      width: 22vw;
      background-color: $color-primary;
    }
  }

  &__carousel {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
}
