@import '../../sass/main.scss';

.product-overview {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary;
  padding: 5rem 10rem;

  & > h1 {
    font-size: 5rem;
    font-weight: bold;
    color: $color-secondary;
    font-family: $font-display;
    line-height: 1;
  }

  &__carousel {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
}
