@import '../../sass/main.scss';

.memberpage {
  width: 100%;
  margin-top: 6vh;
  position: relative;
  overflow-x: hidden;

  &__select {
    height: 65vh;
  }

  &__background {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100vw;
    z-index: -1;
    & > * {
      width: 100%;
      @include respond(phone) {
        width: 150%;
      }
    }
  }

  &__member {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.member-section {
  display: flex;
  flex-direction: column;
  width: 100rem;
  margin-bottom: 15rem;

  &__title {
    color: $color-secondary;
    font-family: $font-display;
    font-size: 2.8rem;
    font-weight: bold;

    display: flex;
    align-items: center;

    &--icon {
      margin-right: 1.5rem;
      border-radius: 10px;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.5rem;
      height: 4.5rem;
      background-color: $color-secondary;
      color: $color-primary;
      padding: 1rem;
    }
  }

  &__desc {
    margin-top: 3rem;
    height: 25rem;
    display: grid;
    grid-template-columns: 4fr 6fr;
  }

  &__text {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    & > p {
      &:first-child {
        margin-bottom: 0.5rem;
      }
      & > span {
        font-weight: bold;
      }
    }

    & > ul {
      list-style-position: inside;
    }
  }

  &__members {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
  }
}
