@import '../../sass/main.scss';

.contact {
  width: 100%;
  height: max-content;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;

  &__map {
    background-color: $color-black;
    overflow: hidden;
    height: 70vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    & > * {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: $color-black;
    color: $color-white;
    font-size: 1.45rem;
    padding: 1rem 2rem;

    & > span {
      display: block;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    & > h2 {
      font-size: 4.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat (2, max-content);
    grid-column-gap: 2.5rem;
    margin-bottom: 1.5rem;
    & > span {
      font-weight: bold;
    }

    & > p {
    }

    & > i {
      color: $color-primary;
      font-size: 3rem;
      align-self: center;
      grid-row: 1/3;
    }
  }

  &__social {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    & > p {
      & > span {
        font-weight: bold;
      }
    }

    & > i {
      color: $color-primary;
      font-size: 3.5rem;
      margin-right: 2rem;
      transition: all 0.3s;
    }

    &:hover {
      & > i {
        transform: scale(1.1);
      }
    }
  }
}
