@import '../../sass/main.scss';

.navbar {
  background-color: $color-primary;
  display: grid;
  grid-template-columns: 1fr repeat(4, max-content);
  font-family: $font-primary;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  padding: 0 10rem;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s;

  @include respond(big-desktop) {
    padding: 0 20rem;
  }
  @include respond(tab-port) {
    padding: 0 5rem;
  }

  @include respond(phone) {
    padding: 0 4rem;
  }

  & > p {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-black;
    transition: all 0.3s;
    @include respond(phone) {
      font-size: 1.3rem;
    }

    &:not(:last-child) {
      padding-right: 6rem;
      @include respond(phone) {
        padding-right: 1.8rem;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.96);
    }
  }

  &__logo {
    cursor: pointer;
    margin-right: auto;
    & > * {
      margin-top: 0.4rem;
      height: 3rem;
      @include respond(phone) {
        margin-right: 2rem;
        width: 8rem;
        height: 2.5rem;
      }
    }
  }
}

.navbar.active {
  background-color: $color-grey-light-1;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);

  & > a:hover {
    transform: scale(1.1);
    color: $color-primary;
  }
}
