@import '../../sass/main.scss';

.bubble {
  background-color: $color-white;
  border-radius: 10px;
  width: 23rem;
  height: 8rem;
  display: flex;
  box-shadow: 0 2px 2px rgba($color-black, 0.3);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    position: relative;
    height: 100%;
    flex: 0 0 40%;
    & > img {
      background-color: $color-secondary;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0.5rem;

    & > h3 {
      font-family: $font-display;
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
    }

    & > p {
      line-height: 1.2;
      font-size: 0.9rem;
    }
  }
}
