@import '../../sass/main.scss';

.roboboat-video {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__youtube {
    margin-top: 1.2rem;
  }

  & > * {
    margin-bottom: 2rem;
  }

  & > h1 {
    font-family: $font-display;
    font-size: 5rem;
    line-height: 1;
    color: $color-secondary;
  }

  & > p {
    width: 90rem;
    font-size: 1.7rem;
    text-align: center;
  }
}
