@import '../../sass/main.scss';

.roboboat-video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__youtube {
    animation: moveInBottom 0.8s;

    margin-top: 1.2rem;

    @include respond(tab-port) {
      width: 100%;
      & > * {
        & > * {
          width: 100%;
        }
      }
    }

    @include respond(phone) {
      & > * {
        & > * {
          width: 100%;
          height: 30rem;
        }
      }
    }
  }

  & > * {
    margin-bottom: 2rem;
  }

  & > h1 {
    font-family: $font-display;
    font-size: 5rem;
    line-height: 1;
    color: $color-secondary;

    @include respond(phone) {
      font-size: 4.5rem;
      text-align: center;
    }
  }

  & > p {
    width: 90rem;
    font-size: 1.7rem;
    text-align: center;
    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
}
