@import '../../sass/main.scss';

.member-select {
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    font-size: 5.2rem;
    font-family: $font-display;
    color: $color-secondary;
  }

  & > p {
    font-size: 1.7rem;
    color: $color-secondary;
  }

  &__item {
    cursor: pointer;
    width: 13rem;
    height: 13rem;
    background-color: $color-white;
    border-radius: 20px;
    box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
    transition: all 0.3s ease-out;

    &:hover {
      border: 2px solid $color-secondary;

      transform: scale(1.05) translateY(-0.5rem);
    }
  }

  &__list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, max-content);

    @include respond(phone) {
      grid-template-columns: repeat(2, max-content);
      grid-row-gap: 3rem;
    }
    grid-column-gap: 4rem;
  }

  &__svg {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
      width: 80%;
    }
  }
}
