@import '../../sass/main.scss';

.homepage {
  width: 100%;
  margin-top: 6vh;
  position: relative;
  overflow-x: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    & > * {
      width: 100%;
      @include respond(phone) {
        width: 150%;
      }
    }
  }

  &__header {
    padding: 0 10rem;
    margin-bottom: 5rem;
  }

  &__roboboat-video {
    padding: 0 10rem;
    margin-bottom: 8rem;
  }

  &__see-achievement {
    padding: 0 10rem;
    margin-bottom: 5rem;
  }

  &__see-member {
    padding: 0 10rem;
    margin-bottom: 15rem;
  }
}
