@import '../../sass/main.scss';

.product-list {
  animation: moveInBottom 2s;

  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > h1 {
    position: relative;
    font-size: 3.5rem;
    color: $color-secondary;

    @include respond(phone) {
      font-size: 2.4rem;
    }
  }
  &--line {
    width: 40%;
    height: 1.5rem;
    background-color: $color-primary;
    position: absolute;
    bottom: 1rem;
    z-index: -1;
    left: -1rem;
    @include respond(phone) {
      left: -0.5rem;

      height: 1rem;
      bottom: 1rem;
      width: 40%;
    }
  }

  &__display {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__item {
    width: max-content;
    margin-top: 5rem;
    display: grid;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(phone) {
      margin-top: 2rem;

      grid-column-gap: 2rem;
      grid-row-gap: 3rem;
      grid-template-columns: 1fr 1fr;
    }
  }
}
