@import '../../sass/main.scss';

.product-select {
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    font-size: 5.2rem;
    font-family: $font-display;
    color: $color-secondary;
  }

  & > p {
    font-size: 1.7rem;
    color: $color-secondary;
  }

  &__list {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 8rem;
  }

  &__item {
    cursor: pointer;
    box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-light-1;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.1);
    }

    & > p {
      font-family: $font-primary;
      font-size: 2.5rem;
      color: $color-secondary;
      font-weight: bold;

      & > span {
        color: $color-primary;
      }
    }
  }
}
